
body 
{
  background-image: url("https://cdn.glitch.com/c0783a8c-b857-418c-8ec6-05c6bddc3049%2Fscene1-HTML-background.png?v=1590953182889");
  background-size: cover; 
	background-color: #ffff99; /*sets the window background colour*/
	background-repeat: no-repeat;      /* repeat, no-repeat */
	background-attachment: fixed;   /* scroll, fixed */
	background-position: top left;  /* for no-repeat setting: top/bottom, left/right */
	margin: 2% 5% 0% 5%;            /* top, left, bottom, right or TRBL */
	
	font-family: 'Indie Flower', cursive;	/* list font names in order of preference */
	font-weight: normal;            /* normal, bold */
	font-style: normal;             /* normal, italic */
	font-variant: normal;           /* normal, small-caps */
	font-size: 22px;                /* font size */
  font-weight: 800;               /* font weight bigger->thicker*/
	color: #654321;                 /* hexadecimal RGB color code */
	text-decoration: none;          /* none, underline, overline, line-through */
	text-align: left;               /* left, right, center, justify */
}



p1 {
  position: absolute;
  z-index: 2; /*sets what goes on top of what*/
}

.ocean {
  position: absolute;
  top: 35px;
  left: 50%;
  margin: 0 0 0 -480px;
  z-index: 1;
}

.island {
  position: absolute;
  top: 35px;
  left: 50%;
  margin: 0 0 0 -480px;
  z-index: 100;
}

a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}

a:hover {
  background-color: white;
  color: #654321;
}


.yes {
  width: 40px;
  position: absolute;
  top: 590px;
  left: 50%;
  margin: 0 0 0 410px;
  text-align: center;
  background-color: #ffcc00;
  color: white;
}

#starfish {
  z-index: 100;
  position: absolute;
  top: 240px;
  left: 260px;
  display: none;
  height: 100px;
  width: 100px;
}

#typeWriter {
  z-index: 100;
  position: absolute;
  top: 540px;
  left: 270px;
}